[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ydata-profiling = "*"
geopandas = "*"
shapely = "*"
category_encoders = "*"
catboost = "*"
[dev-packages]

[requires]
python_version = "3.10"
